.navBar {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    width: auto;
    text-align: center;
    font-size: 1.2rem;
    padding-right: 3rem;
    padding-top: .2rem;
    background-color: transparent;
    z-index: 1;
    font-family: 'Inter', sans-serif;
}

.menuItems {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: .42rem .7rem;
    border-radius: .5rem;
    color: white;
    border-bottom: white 1px solid;
}

.contactUs {
    background-color: #ff8282;
    border: #fd9797 2px solid;
    box-shadow: 3px -3px 6px #a8a8a8,
    -3px 3px 6px #cecece;
}

.login {
    border-bottom: white 1px solid;
}

.phoneNumber {

}