.navBar {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    width: auto;
    text-align: center;
    font-size: 1.2rem;
    padding-right: 5%;
    padding-top: .2rem;
    background-color: transparent;
    z-index: 1;
    font-family: 'Inter', sans-serif;
}

.menuItems {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: auto;
    padding: .42rem .7rem;
    border-radius: .5rem;
    color: white;
    background-color: transparent;
    border: transparent 1px solid;
    border-bottom: white 1px solid;
}

.menuItems:hover {
    border: white 1px solid;
    box-shadow: -3px 3px 6px #a8a8a8,
    3px -3px 6px #cecece;
    cursor: pointer;
}

.menuItems:active {
    transform: translateY(4px);
    box-shadow: 3px -3px 6px #a8a8a8,
    -3px 3px 6px #cecece;
}


.login {
    border-bottom: white 1px solid;
}

