.background {
    background-image: radial-gradient(circle, #aecbd0, #c5b6a3, #a7d2ce, #b0c5d5, #b7e3ff);
    width: auto;
    min-height: 70vh;
    color: white;
    display: flex;
    justify-content: space-between;
    background-size: 400% 400%;
    animation: gradient 20s alternate infinite;
    margin-top: -2.9rem;
    z-index: -1;

}

@keyframes gradient {
    0% {
        background-position: 0% 25%;
    }
    25% {
        background-position: 25% 50%;
    }
    50% {
        background-position: 50% 75%;
    }
    75% {
        background-position: 75% 50%;
    }
    100% {
        background-position: 100% 25%;
    }
}

.titleCard{
    padding: 6em;
    width: 60%;
    z-index: 1;
}

.title {
    text-shadow:
            7px 7px 11px rgba(255,255,255,0.4),
            -7px -7px 11px rgba(0,0,0,0.08);
    caret-color:#262626;
    outline: none;
    transition: text-shadow 1s;
    font-family: 'Prata', serif;
    font-size: 8rem;
    max-width: 4rem;
}

.title:hover {
    text-shadow:
            7px 7px 11px rgba(255,255,255,0.4),
            -7px -7px 11px rgba(0,0,0,0.08);
}


.contactUs {
    width: 600px;
    margin-top: 3rem;
    padding: .42rem .7rem;
    border-radius: .5rem;
    color: white;
    font-size: 1.4em;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background-color: #fd4242;
    box-shadow: 3px -3px 6px #a8a8a8,
    -3px 3px 6px #cecece;
    text-shadow:
            5px 5px 10px rgba(255,255,255,0.4),
            -5px -5px 10px rgba(0,0,0,0.08);
    z-index: 1;
}

.contactUs:hover{
    background-color: #ff0000;
    box-shadow: 6px -6px 12px #a8a8a8,
    -6px 6px 12px #cecece;
    cursor: pointer;
}

.contactUs:active {
    transform: translateY(4px);
    box-shadow: -3px 3px 6px #a8a8a8,
    3px -3px 6px #cecece;
}

.waves {
    margin-top: -50%;
    min-width: 100%;
    height: auto;
    z-index: 0;
    opacity: 60%;
}

.mission {
    color: #282828;
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
    text-align: right;
    background-color: #ffffff;
    z-index: 1;
    padding-right: 2%;
}

.highlight {
    color: #00a0d2;
}