@import "reset.css";

:root{
    --main-bg-color: #d4dceb;
}

.bannerWrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    background-color: #dcfdc2;
    margin-top: 1rem;
}

