.container {
    display: flex;
    flex-direction: column;
    background-color: #2d3234;
}

.main {
    width: 95%;
    max-width: 950px;
    min-width: 700px;

    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.mission {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    text-align: right;
}