.container {
    display: flex;
    flex-direction: column;
    background-color: #2d3234;
}

.main {
    width: 95%;
    min-width: 700px;

    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

